@import 'main.scss';
$breakpoints: (
		"xs": (min-width: 576px),
		"sm": (min-width: 768px),
		"md": (min-width: 992px),
		"lg": (min-width: 1200px),
		"xlg": (min-width: 1441px)
	)
	!default;

@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}
}

.gallery-page-header {
	visibility: visible;
}

.galleries {
	display: grid;
	grid-template-columns: 1fr;
}

#gallery1__section,
#gallery3__section {
	background: url(../img/overview_section.png);
	background-size: cover !important;
	background-repeat: no-repeat;
}

#gallery2__section {
	background: url(../img/team.png);
	background-size: cover !important;
}
.gallery {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	max-width: 800px;
	flex-grow: 1;
	margin-left: auto;
}

.gallery img {
	width: 40vw;
	margin: 2vw;
	object-fit: cover;
	box-shadow: 0px 10px 26px -9px rgba(0, 0, 0, 0.75);
	min-height: 192px;

	@include respond-to("sm") {
		width: 17vw;
	}
	@include respond-to("lg") {
		width: 10vw;
	}
}

.modal {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	z-index: 20000000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	align-items: center;
	justify-items: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
}

.modalInner {
	border-radius: 4px;
	background: white;
	transform: translateY(-100vh);
	transition: all 0.5s;
	max-width: 500px;
	height: calc(100vh - 100px);
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	color: black;
	margin: 3rem;
	padding: 3vw;
	box-shadow: 0px 10px 26px -9px rgba(0, 0, 0, 0.75);
}

.modal figure {
	height: 100%;
	display: grid;
	margin: 0;
	grid-template-rows: 1fr auto;
}

.modal img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	transition: opacity 0.5s;
	opacity: 0;
}

.modal.open {
	opacity: 1;
	pointer-events: all;
	img {
		opacity: 1;
	}
}

.modal figcaption {
	padding: 10px;
	text-align: center;
}

.modal h2 {
	color: black;
}

.modal.open .modalInner {
	transform: translateY(0);
}

.modal button {
	background: transparent;
	border: none;
	height: 100%;
	width: 25px;
	margin: 0 auto;

	&:hover {
		box-shadow: none;
		border: none;
	}
}
