/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "main.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 62.5%;
}

ul {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.no-transition {
	transition: none !important;
}

body {
	font: 1.6rem/1.5 "Lato", sans-serif;
	color: $white;
	min-height: 100vh;
}

.active {
	font-weight: 700;
}

/* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
	position: relative;
	color: var(--orange);
	z-index: 10000;
	background: var(--sandy);

	@include respond-to("lg") {
		height: auto;
	}

	button {
		background: transparent;
		border: none;
		cursor: pointer;
		margin: 0;
		display: flex;
		justify-content: flex-start;

		&:hover {
			background: transparent;
			border: none;
			box-shadow: none;
		}
	}
}
.fixed-nav {
	position: fixed;
	box-shadow: var(--elementShadow);
	background: var(--sandy);
	padding: 1vmin !important;
	height: auto;
	align-items: center;
	transition: ease-in-out 0.3, 0.3;
	top: 0 !important;
	visibility: visible !important;
}

.page-header {
	width: 100vw;
	padding: 1vw;
	z-index: 1000;
	transition: ease-in all 0.3s;

	@include flexBetween;

	@include respond-to("md") {
		padding: 10px 80px;
		top: 0;
		visibility: hidden;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 14px;
		width: 100%;
		text-transform: uppercase;
		z-index: 100000;
		max-width: 1200px;
		margin: 0 auto;

		.logo {
			max-width: 130px;
		}
	}

	.horizontal-logo,
	.page-header {
		margin: 0 1em;
	}

	.icon-logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: signature;
		font-size: 24px;
		text-transform: capitalize;

		img {
			width: 130px;
			margin-right: 2vw;

			@include respond-to("md") {
				width: 250px;
			}
		}
	}

	.menu {
		display: none;
		margin-left: auto;
		font-size: 14px;
		font-weight: bold;
		line-height: 17px;

		li {
			padding: 0 1em;
		}
	}

	.top-menu-wrapper {
		color: $black;
	}

	.panel,
	.top-menu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 2;
		transform: translate3d(-100%, 0, 0);
		transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
		z-index: 146;
	}

	.panel1 {
		width: 100%;
		background: $darkPink;
		transition-delay: 0.3s;
		z-index: 100;
	}

	.panel2 {
		width: calc(100% - 3rem);
		background: var(--blue);
		transition-delay: 0.1s;
		z-index: 100;
	}

	.top-menu {
		display: flex;
		flex-direction: column;
		width: calc(100% - 6rem);
		overflow-y: auto;
		padding: 2rem;
		color: $blue;
		background: $sandy;
		height: 100vh;

		@include respond-to('md') {
			height: unset !important;
		}

		a {
			font-size: 14px;
			transition: color 0.3s ease;
			font-weight: 500;
			color: $black;

			&:hover {
				color: $white;
				font-weight: bolder;
			}
		}
	}

	.top-menu-wrapper.show-offcanvas {
		overflow: hidden;
		&::before {
			background: var(--overlay);
			z-index: 1;
		}
		.panel,
		.top-menu {
			transform: translate3d(0, 0, 0);
			transition-duration: 0.7s;
			overflow-y: hidden;
		}
		.panel1 {
			transition-delay: 0s;
		}
		.panel2 {
			transition-delay: 0.2s;
			box-shadow: var(--elementShadow);
		}
		.top-menu {
			transition-delay: 0.4s;
			box-shadow: rgba(0, 0, 0, 0.55) 0 0 4rem 0.5rem;
		}
	}

	/* mobile MENU
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
	.top-menu li {
		margin-top: 1.5rem;
		padding: 3vw;

		@include respond-to('md') {
			padding: 1vw;
		}
	}

	.top-menu > li:last-child {
		margin-top: auto;

		ul a {
			display: inline-block;
			font-size: 1.3rem;
			text-transform: uppercase;
			transition: color 0.5s ease-out;
			&:hover {
				color: $lightBlack;
				font-weight: 700;
			}
		}
	}
	.sub-menu {
		padding: 1.5rem 2rem 0;
	}

	.top-menu {
		.mob-block {
			margin: -10px;
			padding: 0;
		}
		img {
			max-width: 150px;
		}
		i {
			color: var(--blue);
			font-size: 1.5em;
			font-weight: 600 !important;
		}
	}
	.close-mobile-menu {
		position: absolute;
		right: 10px;
		max-width: 25px;
		top: 5px;
	}
}
.socials {
	display: flex;
	margin-top: 3rem;
	margin-bottom: 1rem;
	margin-left: -6vw;

	@include respond-to('xs') {
		margin-left: 0;
	}

	li {
		padding: 2vw !important;
		@include respond-to('md') {
			padding: 1vw;
		}
	}

	li + li {
		margin-top: 0;
		&:hover {
			cursor: pointer;
		}
	}

	.fa-stack {
		font-size: 2rem;
		color: var(--blue);
		.fab {
			font-size: 2.2rem;
		}
	}
}

//-------- Header

.header__content {
	@include flexCenter();
	margin: auto;
	@include respond-to("lg") {
		height: calc(100vh - 390px);
		max-width: 1000px;
	}

	.header__content--image {
		padding: 3vw;
		position: relative;

		.header__image--desktop {
			display: none;
		}
		.header__content--icons {
			position: absolute;
			bottom: -2vw;
			left: 2vw;
			display: flex;
			color: #000000;
			font-size: 7px;

			@include respond-to('sm') {
				font-size: 12px;
				bottom: -8vw;
			}
			@include respond-to('md') {
				bottom: -14px;
			}
		}
		@include respond-to('md') {
			.header__image--desktop {
				display: block;
			}
			.header__image--mobile {
				display: none;
			}
		}
	}
}
