@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap&subset=latin-ext");
@import url('https://fonts.googleapis.com/css?family=Catamaran:700|Fira+Mono&display=swap');
@font-face {
	font-family: "signature";
	src: url("../fonts/Signature.ttf");
}

@font-face {
	font-family: "secondary-font";
	src: url("../fonts/WalkwaySemiBold.ttf");
}

// Mixins

@mixin flexBetween {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin sectionBg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	padding: 100px 0;
}

@mixin mainText {
	font-family: 'Fira Mono';
	color: $blue;
	font-weight: 700;
}
@mixin mainHeding {
	font-family: 'Lato';
	color: $darkPink;
	text-transform: uppercase;
	padding: 0 7vw;
	font-size: 20px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

:root {
	--linearBackground: linear-gradient(90deg, #ec62c2 0%, #fddf59 100%);
	--elementShadow: 0px 10px 26px -9px rgba(0, 0, 0, 0.75);
	--textShadowFunny: -3px -3px 0 7px hsl(60, 10%, 65%), -4px -4px 0 7px hsl(60, 10%, 65%),
		-5px -5px 0 7px hsl(60, 10%, 65%), -6px -6px 0 7px hsl(60, 10%, 65%);
	--circuleShadow: 0 15px 20px -12px rgba(0, 0, 0, 0.8);
	--sandy: #fbe0cf;
	--orange: #da5336;
	--blue: #1d42ae;
}

$black: #000000;
$white: #ffffff;
$lightBlack: #101010;
$lightGrey: #fafafa;
$yellow: #fdde59;
$pink: #e9aabd;
$transPink: #e9aabd77;
$sandy: #fbe0cf;
$blue: #1d42ae;
$orange: #da5336;
$darkPink: #bd5179;

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	outline: 0;
}

//MEDIA-QUERIES
$breakpoints: (
		"xs": (min-width: 576px),
		"sm": (min-width: 768px),
		"md": (min-width: 992px),
		"lg": (min-width: 1200px),
		"xlg": (min-width: 1441px)
	)
	!default;

@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{inspect(map-get($breakpoints, $breakpoint))} {
			@content;
		}
	}
}

html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	color: #000;
	font-family: "Lato", sans-serif;
	font-style: normal;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

p {
	margin-top: 20px;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 150%;
}
button {
	width: 115px;
	height: 40px;
	background: $sandy;
	border: 1.5px solid $blue;
	border-radius: 6px;
	text-transform: uppercase;
	color: $blue;
	font-size: 12px;
	margin: 2vw auto;
	background: 0.2s ease;
	@include flexCenter;
	transition: all 0.3s ease;
	font-family: "Catamaran", sans-serif;
	font-weight: 700;
	cursor: pointer;

	@include respond-to("md") {
		margin: auto;
		width: 160px;
		height: 50px;
		font-size: 14px;
	}
	&:hover {
		background: $white;
		border: 1.5px solid $blue;
		color: $blue;
		font-weight: 700;
		box-shadow: var(--circuleShadow);
	}
}

.active {
	color: $darkPink !important;
}

:active,
:focus,
:focus-visible,
:visited {
	outline: none;
}

//Main

section {
	background-size: 100%;
	background-position: top;
	background-repeat: no-repeat;
	min-height: 40vh;
	padding-bottom: 5vh;

	@include respond-to("lg") {
		min-height: 70vh;
	}
}

#description {
	background: url(../img/overview_section.png);
	background-size: cover !important;
	background-repeat: no-repeat;
	padding-bottom: 0;
	padding-top: 13vw;

	@include respond-to('lg') {
		padding-top: 2vw;
		min-height: 576px;
	}
}

.container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 3vh;

	@include respond-to('md') {
		align-items: flex-end;
		justify-content: flex-end;
	}
	h1 {
		@include mainHeding();
	}
	p {
		max-height: 80%;
		padding: 7vw 0;
		font-size: 16px;
		@include mainText();

		@include respond-to('sm') {
			font-size: 20px;
			padding: 3vw;
		}
		@include respond-to('md') {
			font-size: 25px;
			max-width: 70vw;
			margin-top: 7vw;
		}
	}
	figure {
		padding: 2vw;
		display: flex;
		flex-flow: column;
		margin: auto;
		border: solid 2px transparent;
		transition: border 0.1s 0.1s;
		cursor: pointer;

		@include respond-to('sm') {
			width: 80vw;
			height: 50vw;
		}
		@include respond-to('md') {
			max-width: 715px;
			height: 40vw;
		}

		&:hover {
			border: solid 2px $blue;
		}

		iframe {
			height: 100%;
		}
		figcaption {
			background: rgba(255, 255, 255, 0.425);
			@include mainText();
			font-size: 12px;
			padding: 2vw;
			text-align: center;
		}
	}

	button {
		@include flexCenter();
		margin: 5vw auto;

		@include respond-to('lg') {
			margin: 2vw auto;
		}
	}

	.description__images {
		@include flexCenter();
		img {
			max-width: 50vw;
			@include respond-to('md') {
				max-width: 40vw;
				padding: 3vw;
			}
		}
		.description__images--drummer {
			max-width: 20vw;
		}
	}
}

#features {
	background: url(../img/team.png);
	background-size: cover !important;
}

button {
	margin: auto 0;
	display: flex;
	@include mainText();
}

@include respond-to("sm") {
	// margin: 2vw 3vw;
}

@include respond-to("lg") {
	// width: 20vw;
}

#offer-section {
	background: url(../img/blog_section.png);
	background-size: cover !important;
	background-origin: border-box;

	@include respond-to("lg") {
		min-height: 576px;
	}
}
.offers {
	@include flexBetween();
	flex-wrap: wrap;
	margin: 5vw 0;

	@include respond-to('md') {
		margin: 0 auto;
	}
	div {
		border: double 13px $blue;
		background: transparent;
		transition: all 0.3s 0.1s;
		cursor: pointer;
		color: $blue;

		&:hover {
			background: $blue;
			color: $white;
			transform: scale(1.05);
		}
		p {
			color: inherit;
		}
	}

	div:first-child {
		border: double 13px $orange;
		background: transparent;
		color: $orange;
		&:hover {
			background: $orange;
			color: $white !important;
			transform: scale(1.05);
		}
	}
	div:last-child {
		border: double 13px $darkPink;
		background: transparent;
		color: $darkPink;
		margin: 0 auto;
		&:hover {
			background: $darkPink;
			color: $white !important;
			transform: scale(1.05);
		}
	}
	@include respond-to('sm') {
		flex-flow: row;
	}
}
.offer {
	@include flexCenter();
	flex-direction: column;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 2vw;

	@include respond-to('sm') {
		width: 200px;
		height: 200px;
	}

	i {
		font-size: 60px;
		color: $lightBlack;
		display: none;
	}

	p {
		margin: 0;
	}
}

#gallery {
	.gallery__content {
		@include flexCenter();
		flex-flow: column;
		background: $sandy;
		border: dashed 5px $blue;
		margin-top: 5vw;
		margin: 5vw;
	}
}

#contact {
	background: url(../img/footer_bg.png);
	background-position: bottom center;
	background-size: contain;
	background-repeat: no-repeat;
}

.contact-section {
	color: $lightBlack;
	@include respond-to("lg") {
		padding-bottom: 78px;
	}

	h1 {
		margin-top: 0;
	}

	.socials {
		@include flexBetween();
		color: $lightBlack;
		font-size: 14px;
		justify-content: flex-start;
		margin: 0;

		li {
			transition: color 0.3s ease;

			& :hover {
				color: $pink;
			}
		}
	}

	.contact-section__form,
	.socials {
		padding: 3vw;
	}
}

//Footer

.footer-section {
	background: $sandy;
	@include flexCenter();

	img {
		margin: 0 9px;
		border-radius: 6px;
		padding: 1vw;
		@include respond-to("md") {
			width: 3vw;
			padding: 1vw 0;
		}
	}
	p,
	span {
		padding: 2vw;
		margin: 0;
		font-size: 12px;
		text-align: center;
		@include mainText();
		@include respond-to("xs") {
			padding: 1vw 2vw;
		}
	}
}
