@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Catamaran:700|Fira+Mono&display=swap");
@font-face {
  font-family: "signature";
  src: url("../fonts/Signature.ttf");
}
@font-face {
  font-family: "secondary-font";
  src: url("../fonts/WalkwaySemiBold.ttf");
}
:root {
  --linearBackground: linear-gradient(90deg, #ec62c2 0%, #fddf59 100%);
  --elementShadow: 0px 10px 26px -9px rgba(0, 0, 0, 0.75);
  --textShadowFunny: -3px -3px 0 7px hsl(60, 10%, 65%), -4px -4px 0 7px hsl(60, 10%, 65%),
  	-5px -5px 0 7px hsl(60, 10%, 65%), -6px -6px 0 7px hsl(60, 10%, 65%);
  --circuleShadow: 0 15px 20px -12px rgba(0, 0, 0, 0.8);
  --sandy: #fbe0cf;
  --orange: #da5336;
  --blue: #1d42ae;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  color: #000;
  font-family: "Lato", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h2 {
  padding-top: 5vw;
  color: black;
  text-align: center;
}
@media (min-width: 992px) {
  h2 {
    padding-top: 3vw;
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px ridge #101010;
  display: inline;
  font-family: signature;
}

p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 150%;
}

button {
  width: 115px;
  height: 40px;
  background: transparent;
  border: 1.5px solid #1d42ae;
  border-radius: 6px;
  text-transform: uppercase;
  color: #1d42ae;
  font-size: 12px;
  margin: 2vw auto;
  background: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
@media (min-width: 992px) {
  button {
    margin: auto;
    width: 160px;
    height: 50px;
    font-size: 14px;
  }
}
button:hover {
  background: #fbe0cf;
  border: none;
  color: #1d42ae;
  font-weight: 700;
}

.active {
  border-bottom: ridge 1px white;
  color: #ffffff !important;
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(30%);
}

.slide-active {
  opacity: 1;
  transform: translateY(0%);
}

section {
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 40vh;
  padding-bottom: 5vh;
}
@media (min-width: 1200px) {
  section {
    min-height: 70vh;
  }
}

#description {
  background: url(../img/overview_section.png);
  background-size: cover !important;
  background-repeat: no-repeat;
  padding-bottom: 0;
  padding-top: 13vw;
}
@media (min-width: 1200px) {
  #description {
    padding-top: 2vw;
    min-height: 576px;
  }
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding: 3vh;
}
@media (min-width: 992px) {
  .container {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.container h1 {
  font-family: "Lato";
  color: #bd5179;
  text-transform: uppercase;
  padding: 0 7vw;
  font-size: 20px;
}
.container p {
  max-height: 80%;
  padding: 7vw 0;
  font-size: 16px;
  text-align: left;
  font-family: "Fira Mono";
  color: #1d42ae;
  font-weight: 700;
}
@media (min-width: 768px) {
  .container p {
    font-size: 20px;
    padding: 3vw;
    margin-top: 15vw;
  }
}
@media (min-width: 992px) {
  .container p {
    font-size: 25px;
    max-width: 70vw;
  }
}
.container figure {
  padding: 2vw;
  display: flex;
  flex-flow: column;
  margin: auto;
}
.container figure figcaption {
  background: rgba(255, 255, 255, 0.425);
  font-family: "Fira Mono";
  color: #1d42ae;
  font-weight: 700;
  font-size: 12px;
  padding: 2vw;
  text-align: center;
}
.container .description__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vw auto;
}
@media (min-width: 1200px) {
  .container .description__button {
    margin: 2vw auto;
  }
}
.container .description__images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .description__images img {
  max-width: 50vw;
}
@media (min-width: 992px) {
  .container .description__images img {
    max-width: 40vw;
    padding: 3vw;
  }
}
.container .description__images .description__images--drummer {
  max-width: 20vw;
}

#features {
  background: url(../img/team.png);
  background-size: cover !important;
}

.features__title {
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  color: #bd5179;
  text-transform: uppercase;
  padding: 0 7vw;
  font-size: 20px;
  font-size: 20px;
}

.features__video {
  height: max-content;
  padding: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.features__video button {
  margin: auto 0;
  display: flex;
  font-family: "Fira Mono";
  color: #1d42ae;
  font-weight: 700;
}
.features__video iframe {
  border: solid #1d42ae;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
#offer {
  background: url(../img/blog_section.png);
  background-size: cover !important;
  background-origin: border-box;
}
@media (min-width: 1200px) {
  #offer {
    min-height: 576px;
  }
}

#contact {
  background: url(../img/contact-background.png);
  background-position: top right;
}

.contact-section {
  color: #101010;
}
@media (min-width: 1200px) {
  .contact-section {
    padding-bottom: 78px;
  }
}
.contact-section h1 {
  margin-top: 0;
}
.contact-section .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #101010;
  font-size: 14px;
  justify-content: flex-start;
  margin: 0;
}
.contact-section .socials li {
  transition: color 0.3s ease;
}
.contact-section .socials li :hover {
  color: #e9aabd;
}
.contact-section .contact-section__form,
.contact-section .socials {
  padding: 3vw;
}

.footer-section {
  background: #fbe0cf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section img {
  margin: 0 9px;
  border-radius: 6px;
  padding: 1vw;
}
@media (min-width: 992px) {
  .footer-section img {
    width: 3vw;
    padding: 1vw 0;
  }
}
.footer-section p,
.footer-section span {
  padding: 2vw;
  margin: 0;
  font-size: 12px;
  text-align: center;
  font-family: "Fira Mono";
  color: #1d42ae;
  font-weight: 700;
}
@media (min-width: 576px) {
  .footer-section p,
.footer-section span {
    padding: 1vw 2vw;
  }
}

@media (min-width: 1200px) {
  form {
    width: 540px;
    height: 305px;
  }
}
form .form__name {
  display: block;
}
@media (min-width: 992px) {
  form .form__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
form .form__name input {
  margin-right: 0;
}
form label {
  display: none;
}
form input,
form select {
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 100%;
  height: 45px;
  background: transparent;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  form input,
form select {
    margin-bottom: 23px;
    padding: 20px 30px;
    height: 60px;
  }
  form input:first-of-type,
form select:first-of-type {
    margin-right: 23px;
  }
}

/*# sourceMappingURL=form.css.map */
