@charset "UTF-8";
/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Catamaran:700|Fira+Mono&display=swap");
@font-face {
  font-family: "signature";
  src: url("../fonts/Signature.ttf");
}
@font-face {
  font-family: "secondary-font";
  src: url("../fonts/WalkwaySemiBold.ttf");
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

:root {
  --linearBackground: linear-gradient(90deg, #ec62c2 0%, #fddf59 100%);
  --elementShadow: 0px 10px 26px -9px rgba(0, 0, 0, 0.75);
  --textShadowFunny: -3px -3px 0 7px hsl(60, 10%, 65%), -4px -4px 0 7px hsl(60, 10%, 65%),
  	-5px -5px 0 7px hsl(60, 10%, 65%), -6px -6px 0 7px hsl(60, 10%, 65%);
  --circuleShadow: 0 15px 20px -12px rgba(0, 0, 0, 0.8);
  --sandy: #fbe0cf;
  --orange: #da5336;
  --blue: #1d42ae;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  color: #000;
  font-family: "Lato", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 150%;
}

button {
  width: 115px;
  height: 40px;
  background: #fbe0cf;
  border: 1.5px solid #1d42ae;
  border-radius: 6px;
  text-transform: uppercase;
  color: #1d42ae;
  font-size: 12px;
  margin: 2vw auto;
  background: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
@media (min-width: 992px) {
  button {
    margin: auto;
    width: 160px;
    height: 50px;
    font-size: 14px;
  }
}
button:hover {
  background: #ffffff;
  border: 1.5px solid #1d42ae;
  color: #1d42ae;
  font-weight: 700;
  box-shadow: var(--circuleShadow);
}

.active {
  color: #bd5179 !important;
}

:active,
:focus,
:focus-visible,
:visited {
  outline: none;
}

section {
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 40vh;
  padding-bottom: 5vh;
}
@media (min-width: 1200px) {
  section {
    min-height: 70vh;
  }
}

#description {
  background: url(../img/overview_section.png);
  background-size: cover !important;
  background-repeat: no-repeat;
  padding-bottom: 0;
  padding-top: 13vw;
}
@media (min-width: 1200px) {
  #description {
    padding-top: 2vw;
    min-height: 576px;
  }
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 3vh;
}
@media (min-width: 992px) {
  .container {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.container h1 {
  font-family: "Lato";
  color: #bd5179;
  text-transform: uppercase;
  padding: 0 7vw;
  font-size: 20px;
}
.container p {
  max-height: 80%;
  padding: 7vw 0;
  font-size: 16px;
  font-family: "Fira Mono";
  color: #1d42ae;
  font-weight: 700;
}
@media (min-width: 768px) {
  .container p {
    font-size: 20px;
    padding: 3vw;
  }
}
@media (min-width: 992px) {
  .container p {
    font-size: 25px;
    max-width: 70vw;
    margin-top: 7vw;
  }
}
.container figure {
  padding: 2vw;
  display: flex;
  flex-flow: column;
  margin: auto;
  border: solid 2px transparent;
  transition: border 0.1s 0.1s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .container figure {
    width: 80vw;
    height: 50vw;
  }
}
@media (min-width: 992px) {
  .container figure {
    max-width: 715px;
    height: 40vw;
  }
}
.container figure:hover {
  border: solid 2px #1d42ae;
}
.container figure iframe {
  height: 100%;
}
.container figure figcaption {
  background: rgba(255, 255, 255, 0.425);
  font-family: "Fira Mono";
  color: #1d42ae;
  font-weight: 700;
  font-size: 12px;
  padding: 2vw;
  text-align: center;
}
.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vw auto;
}
@media (min-width: 1200px) {
  .container button {
    margin: 2vw auto;
  }
}
.container .description__images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .description__images img {
  max-width: 50vw;
}
@media (min-width: 992px) {
  .container .description__images img {
    max-width: 40vw;
    padding: 3vw;
  }
}
.container .description__images .description__images--drummer {
  max-width: 20vw;
}

#features {
  background: url(../img/team.png);
  background-size: cover !important;
}

button {
  margin: auto 0;
  display: flex;
  font-family: "Fira Mono";
  color: #1d42ae;
  font-weight: 700;
}

#offer-section {
  background: url(../img/blog_section.png);
  background-size: cover !important;
  background-origin: border-box;
}
@media (min-width: 1200px) {
  #offer-section {
    min-height: 576px;
  }
}

.offers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5vw 0;
}
@media (min-width: 992px) {
  .offers {
    margin: 0 auto;
  }
}
.offers div {
  border: double 13px #1d42ae;
  background: transparent;
  transition: all 0.3s 0.1s;
  cursor: pointer;
  color: #1d42ae;
}
.offers div:hover {
  background: #1d42ae;
  color: #ffffff;
  transform: scale(1.05);
}
.offers div p {
  color: inherit;
}
.offers div:first-child {
  border: double 13px #da5336;
  background: transparent;
  color: #da5336;
}
.offers div:first-child:hover {
  background: #da5336;
  color: #ffffff !important;
  transform: scale(1.05);
}
.offers div:last-child {
  border: double 13px #bd5179;
  background: transparent;
  color: #bd5179;
  margin: 0 auto;
}
.offers div:last-child:hover {
  background: #bd5179;
  color: #ffffff !important;
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .offers {
    flex-flow: row;
  }
}

.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 2vw;
}
@media (min-width: 768px) {
  .offer {
    width: 200px;
    height: 200px;
  }
}
.offer i {
  font-size: 60px;
  color: #101010;
  display: none;
}
.offer p {
  margin: 0;
}

#gallery .gallery__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: #fbe0cf;
  border: dashed 5px #1d42ae;
  margin-top: 5vw;
  margin: 5vw;
}

#contact {
  background: url(../img/footer_bg.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-section {
  color: #101010;
}
@media (min-width: 1200px) {
  .contact-section {
    padding-bottom: 78px;
  }
}
.contact-section h1 {
  margin-top: 0;
}
.contact-section .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #101010;
  font-size: 14px;
  justify-content: flex-start;
  margin: 0;
}
.contact-section .socials li {
  transition: color 0.3s ease;
}
.contact-section .socials li :hover {
  color: #e9aabd;
}
.contact-section .contact-section__form,
.contact-section .socials {
  padding: 3vw;
}

.footer-section {
  background: #fbe0cf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section img {
  margin: 0 9px;
  border-radius: 6px;
  padding: 1vw;
}
@media (min-width: 992px) {
  .footer-section img {
    width: 3vw;
    padding: 1vw 0;
  }
}
.footer-section p,
.footer-section span {
  padding: 2vw;
  margin: 0;
  font-size: 12px;
  text-align: center;
  font-family: "Fira Mono";
  color: #1d42ae;
  font-weight: 700;
}
@media (min-width: 576px) {
  .footer-section p,
.footer-section span {
    padding: 1vw 2vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-transition {
  transition: none !important;
}

body {
  font: 1.6rem/1.5 "Lato", sans-serif;
  color: #ffffff;
  min-height: 100vh;
}

.active {
  font-weight: 700;
}

/* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
  position: relative;
  color: var(--orange);
  z-index: 10000;
  background: var(--sandy);
}
@media (min-width: 1200px) {
  header {
    height: auto;
  }
}
header button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding: 2vw;
}

.fixed-nav {
  position: fixed;
  box-shadow: var(--elementShadow);
  background: var(--sandy);
  padding: 1vmin !important;
  height: auto;
  align-items: center;
  transition: ease-in-out 0.3, 0.3;
  top: 0 !important;
  visibility: visible !important;
}

.page-header {
  width: 100vw;
  padding: 1vw;
  z-index: 1000;
  transition: ease-in all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* mobile MENU
   –––––––––––––––––––––––––––––––––––––––––––––––––– */
}
@media (min-width: 992px) {
  .page-header {
    padding: 20px 80px;
    top: 17px;
    visibility: hidden;
  }
}
.page-header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  width: 100%;
  text-transform: uppercase;
  z-index: 100000;
}
.page-header nav .logo {
  max-width: 130px;
}
.page-header .horizontal-logo,
.page-header .page-header {
  margin: 0 1em;
}
.page-header .icon-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: signature;
  font-size: 24px;
  text-transform: capitalize;
}
.page-header .icon-logo img {
  width: 130px;
  margin-right: 2vw;
}
@media (min-width: 992px) {
  .page-header .icon-logo img {
    width: 250px;
  }
}
.page-header .menu {
  display: none;
  margin-left: auto;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}
.page-header .menu li {
  padding: 0 1em;
}
.page-header .top-menu-wrapper {
  color: #000000;
}
.page-header .panel,
.page-header .top-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 146;
}
.page-header .panel1 {
  width: 100%;
  background: #bd5179;
  transition-delay: 0.3s;
  z-index: 100;
}
.page-header .panel2 {
  width: calc(100% - 3rem);
  background: var(--blue);
  transition-delay: 0.1s;
  z-index: 100;
}
.page-header .top-menu {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6rem);
  overflow-y: auto;
  padding: 2rem;
  color: #1d42ae;
  background: #fbe0cf;
}
.page-header .top-menu a {
  font-size: 14px;
  transition: color 0.3s ease;
  font-weight: 700;
  color: #000000;
}
.page-header .top-menu a:hover {
  color: #ffffff;
  font-weight: bolder;
}
.page-header .top-menu-wrapper.show-offcanvas::before {
  background: var(--overlay);
  z-index: 1;
}
.page-header .top-menu-wrapper.show-offcanvas .panel,
.page-header .top-menu-wrapper.show-offcanvas .top-menu {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.7s;
}
.page-header .top-menu-wrapper.show-offcanvas .panel1 {
  transition-delay: 0s;
}
.page-header .top-menu-wrapper.show-offcanvas .panel2 {
  transition-delay: 0.2s;
  box-shadow: var(--elementShadow);
}
.page-header .top-menu-wrapper.show-offcanvas .top-menu {
  transition-delay: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.55) 0 0 4rem 0.5rem;
}
.page-header .top-menu li + li {
  margin-top: 1.5rem;
}
.page-header .top-menu > li:last-child {
  margin-top: auto;
}
.page-header .top-menu > li:last-child ul a {
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: color 0.5s ease-out;
}
.page-header .top-menu > li:last-child ul a:hover {
  color: #101010;
  font-weight: 700;
}
.page-header .sub-menu {
  padding: 1.5rem 2rem 0;
}
.page-header .top-menu .mob-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.page-header .top-menu .mob-block img {
  max-width: 200px;
}
.page-header .top-menu .mob-block i {
  color: var(--blue);
  font-size: 2em;
}
.page-header .socials {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.page-header .socials li + li {
  margin-top: 0;
}
.page-header .socials li + li:hover {
  cursor: pointer;
}
.page-header .socials .fa-stack {
  font-size: 1.7rem;
  color: var(--blue);
}
.page-header .socials .fa-stack .fab {
  font-size: 1.2rem;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
@media (min-width: 1200px) {
  .header__content {
    height: calc(100vh - 390px);
    max-width: 1000px;
  }
}
.header__content .header__content--image {
  padding: 3vw;
  position: relative;
}
.header__content .header__content--image .header__image--desktop {
  display: none;
}
.header__content .header__content--image .header__content--icons {
  position: absolute;
  bottom: -2vw;
  left: 2vw;
  display: flex;
  color: #000000;
  font-size: 7px;
}
@media (min-width: 768px) {
  .header__content .header__content--image .header__content--icons {
    font-size: 12px;
    bottom: -8vw;
  }
}
@media (min-width: 992px) {
  .header__content .header__content--image .header__content--icons {
    bottom: -14px;
  }
}
@media (min-width: 992px) {
  .header__content .header__content--image .header__image--desktop {
    display: block;
  }
  .header__content .header__content--image .header__image--mobile {
    display: none;
  }
}

/*# sourceMappingURL=header.css.map */
