@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Catamaran:700|Fira+Mono&display=swap");
@font-face {
  font-family: "signature";
  src: url("../fonts/Signature.ttf");
}
@font-face {
  font-family: "secondary-font";
  src: url("../fonts/WalkwaySemiBold.ttf");
}
:root {
  --linearBackground: linear-gradient(90deg, #ec62c2 0%, #fddf59 100%);
  --elementShadow: 0px 10px 26px -9px rgba(0, 0, 0, 0.75);
  --textShadowFunny: -3px -3px 0 7px hsl(60, 10%, 65%), -4px -4px 0 7px hsl(60, 10%, 65%),
  	-5px -5px 0 7px hsl(60, 10%, 65%), -6px -6px 0 7px hsl(60, 10%, 65%);
  --circuleShadow: 0 15px 20px -12px rgba(0, 0, 0, 0.8);
  --sandy: #fbe0cf;
  --orange: #da5336;
  --blue: #1d42ae;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  color: #000;
  font-family: "Lato", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

h2 {
  padding-top: 5vw;
  color: black;
  text-align: center;
}
@media (min-width: 992px) {
  h2 {
    padding-top: 3vw;
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px ridge #101010;
  display: inline;
  font-family: signature;
}

p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 150%;
}

button {
  width: 115px;
  height: 40px;
  background: transparent;
  border: 1.5px solid #1d42ae;
  border-radius: 6px;
  text-transform: uppercase;
  color: #1d42ae;
  font-size: 12px;
  margin: 2vw auto;
  background: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
@media (min-width: 992px) {
  button {
    margin: auto;
    width: 160px;
    height: 50px;
    font-size: 14px;
  }
}
button:hover {
  background: #fbe0cf;
  border: solid 2px #ffffff;
  color: #ffffff;
  box-shadow: var(--elementShadow);
}

.active {
  border-bottom: ridge 1px white;
  color: #ffffff !important;
}

.slide-in {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(30%);
}

.slide-active {
  opacity: 1;
  transform: translateY(0%);
}

section {
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 40vh;
  padding-bottom: 5vh;
}
@media (min-width: 1200px) {
  section {
    min-height: 70vh;
  }
}

#description {
  background: url(../img/overview_section.png);
  background-size: cover !important;
  background-repeat: no-repeat;
  padding-bottom: 0;
}
@media (min-width: 1200px) {
  #description {
    padding-top: 2vw;
    min-height: 576px;
  }
}

.description__content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-flow: column-reverse;
  margin: auto 0;
  min-height: 40vh;
  padding-bottom: 5vw;
  padding-top: 12vh;
}
@media (min-width: 992px) {
  .description__content {
    align-items: flex-end;
  }
}
.description__content p {
  max-width: 90vw;
  height: 80%;
  font-size: 16px;
  text-align: left;
  margin-top: 21vw;
  font-family: "Fira Mono";
  color: #1d42ae;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .description__content p {
    font-size: 20px;
    padding: 3vw;
    margin-top: 15vw;
  }
}
@media (min-width: 992px) {
  .description__content p {
    font-size: 25px;
    max-width: 70vw;
  }
}
.description__content .description__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vw auto;
}
@media (min-width: 1200px) {
  .description__content .description__button {
    margin: 2vw auto;
  }
}
.description__content .description__images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description__content .description__images img {
  max-width: 50vw;
}
@media (min-width: 992px) {
  .description__content .description__images img {
    max-width: 40vw;
    padding: 3vw;
  }
}
.description__content .description__images .description__images--drummer {
  max-width: 20vw;
}

#features {
  background: url(../img/team.png);
  background-size: cover !important;
}

.features__title {
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Catamaran";
  color: #000000;
  font-size: 20px;
}

.features__video {
  height: max-content;
  padding: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.features__video figure {
  padding: 2vw;
}
.features__video figure figcaption {
  background: rgba(255, 255, 255, 0.425);
  font-family: "Fira Mono";
  color: #1d42ae;
  text-transform: uppercase;
}
.features__video button {
  margin: auto 0;
  display: flex;
  font-family: "Fira Mono";
  color: #1d42ae;
  text-transform: uppercase;
}
.features__video iframe {
  border: solid #1d42ae;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
#blog {
  background: url(../img/blog_section.png);
  background-size: cover !important;
  background-origin: border-box;
}
@media (min-width: 1200px) {
  #blog {
    min-height: 576px;
  }
}

.blog {
  color: #101010;
  padding-bottom: 10vh;
  margin: 0 auto;
  max-width: 1600px;
}
@media (min-width: 768px) {
  .blog .responsive-slick {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .blog {
    height: 438px;
    padding-bottom: 124px;
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.blog .blog__item {
  text-align: center;
  padding: 3vw;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .blog .blog__item {
    width: 50vw;
  }
}
@media (min-width: 992px) {
  .blog .blog__item {
    height: 390px;
    width: 255px;
    padding: 30px;
    justify-content: space-between;
  }
}
.blog .blog__item .blog__item--image {
  max-width: 150px;
}
@media (min-width: 992px) {
  .blog .blog__item .blog__item--image {
    width: unset;
  }
}
.blog .blog__item .blog__item--image img {
  margin: 0 auto;
}
.blog .blog__item .blog__item--content {
  margin-top: 19px;
  max-width: 191px;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) {
  .blog .blog__item .blog__item--content {
    padding: 2wmin;
  }
}
.blog .blog__item .blog__item--content h3 {
  font-family: "Lato";
  border: none;
  font-size: 17px;
}
.blog .blog__item .blog__item--content a {
  margin-top: auto;
  color: #101010;
  font-weight: bold;
  font-size: 12px;
}

#projects {
  background: #ffffff;
  color: #000000;
}

.projects-section,
.contact-section {
  padding: 5vw;
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .projects-section,
.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .projects-section,
.contact-section {
    padding: 65px 156px;
    max-height: 500px;
  }
}

.projects-section__content,
.projects-section__slider,
.contact-section__content,
.contact-section__form {
  padding: 2vw;
}
@media (min-width: 992px) {
  .projects-section__content,
.projects-section__slider,
.contact-section__content,
.contact-section__form {
    width: 50%;
  }
}
.projects-section__content h1,
.projects-section__slider h1,
.contact-section__content h1,
.contact-section__form h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}
@media (min-width: 1200px) {
  .projects-section__content h1,
.projects-section__slider h1,
.contact-section__content h1,
.contact-section__form h1 {
    margin-top: 24px;
    width: 445px;
  }
}
.projects-section__content p,
.projects-section__slider p,
.contact-section__content p,
.contact-section__form p {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  margin: 24px 0;
}
@media (min-width: 992px) {
  .projects-section__content p,
.projects-section__slider p,
.contact-section__content p,
.contact-section__form p {
    width: 445px;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .socials {
    margin: 0;
  }
}

#contact {
  background: url(../img/contact-background.png);
  background-position: top right;
}

.contact-section {
  color: #101010;
  z-index: 1000000;
}
@media (min-width: 1200px) {
  .contact-section {
    padding-bottom: 78px;
  }
}
.contact-section h1 {
  margin-top: 0;
}
.contact-section .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #101010;
  font-size: 14px;
  justify-content: flex-start;
  margin: 0;
}
.contact-section .socials li {
  height: 40px;
  transition: color 0.3s ease;
}
.contact-section .socials li :hover {
  color: #e9aabd;
}

.footer-section {
  background: var(--linearBackground);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section img {
  width: 6vw;
  margin: 0 9px;
  border-radius: 6px;
  padding: 1vw;
}
@media (min-width: 992px) {
  .footer-section img {
    width: 3vw;
    padding: 1vw 0;
  }
}
.footer-section p,
.footer-section span {
  padding: 2vw;
  margin: 0;
  font-size: 12px;
  text-align: center;
}
@media (min-width: 576px) {
  .footer-section p,
.footer-section span {
    padding: 1vw 2vw;
  }
}

/*# sourceMappingURL=main.css.map */
